:root {
  --primary-color: #010712;
  --secondary-color: #818386;
  /*--bg-color: #FCFDFD;*/
  --button-color: #3B3636;
  --h1-color: #3F444C;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    background-color: #f9f7f1;
}

/* Fijo los bordes blancos de la pagina */
.page-border {
  position: fixed;
  background: #fff;
  transform: translateZ(0);
  z-index: 3; }
  .page-border.border-top {
    top: 0px;
    left: 0px;
    height: 10px;
    width: 100%; }
  .page-border.border-left {
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%; }
  .page-border.border-right {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 10px; }
  .page-border.border-bottom {
    bottom: 0px;
    left: 0px;
    height: 10px;
    width: 100%; }

/* ------------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.contact-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

.left-col {
  width: 50%;
  height: 100vh;
  background-image: url('../img/Cocina_Contacto1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.right-col {
  width: 50%;
  height: 100vh;
  padding: 5rem 3.5rem;
  display: inline-block;
}

h1, label, button, .description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

h1 {
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  margin: 0.25rem 0;
}

label, .description {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

p, placeholder, input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: #f9f7f1;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

button {
  text-transform: uppercase;
  font-weight: 300;
  background: var(--button-color);
  color: #FCFDFD;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

input:hover, textarea:hover, button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.8;
}

.description {
    margin-left: 1.25rem;
}

#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost', serif;
  color: var(--secondary-color);
}


#success-msg {
  transition-delay: 3s;
}

@media only screen and (max-width: 880px) {
  h1 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.9rem;
  }
  input, textarea, button {
    font-size: 0.8rem;
  }
  button {
    width: 7rem;
  }
}
